<!DOCTYPE html>
<html lang="en">  

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Online Store</title>

    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/popper.js@1.14.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href={{ url_for('static',filename='css/checkout.css')}} rel="stylesheet">

    <!-- Custom scripts for this template -->
    <!-- <script src={{ url_for('static',filename='js/index.js')}}></script> -->
  </head>

      <nav class="navbar sticky-top">
        <button type="button" class="btn btn-outline-secondary">This is a button</button>
          
        <div class="ml-auto">
          <button type="button" class="btn btn-outline-secondary">This is another button</button>
        </div>
      </nav>
  
  <div class="px-4 px-lg-0">
    <!-- Heading -->
    <div class="container py-5 text-center">
      <h1 class="display-4">Shopping Cart</h1>
    </div>
    <!-- End -->

    <div class="pb-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 p-5 bg-light rounded shadow-sm mb-5">

            <!-- Shopping cart table -->
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col" class="border-0 bg-info">
                      <div class="p-2 px-3 text-uppercase">Product</div>
                    </th>
                    <th scope="col" class="border-0 bg-info">
                      <div class="py-2 text-uppercase">Price</div>
                    </th>
                    <th scope="col" class="border-0 bg-info">
                      <div class="py-2 text-uppercase">Quantity</div>
                    </th>
                    <th scope="col" class="border-0 bg-info">
                      <div class="py-2 text-uppercase">Remove</div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row" class="border-0">
                      <div class="p-2">
                        <img src={{ url_for('static',filename='img/image-placeholder.png')}} alt="video game" class="img-fluid rounded shadow-sm item-img">
                        <div class="ml-3 d-inline-block align-middle">
                          <h5 class="mb-0"> <a href="#" class="text-dark d-inline-block align-middle">Video Game Title</a></h5><span class="text-muted font-weight-normal font-italic d-block">More Info About Game Above</span>
                        </div>
                      </div>
                    </th>
                    <td class="border-0 align-middle"><strong>$59.00</strong></td>
                    <td class="border-0 align-middle"><strong>1</strong></td>
                    <td class="border-0 align-middle"><a href="#" class="text-dark"><img class="remove-img" src={{ url_for('static', filename='img/trash-icon.png')}} alt="remove"></a></td>
                  </tr>
                  <tr>
                    <th scope="row">
                      <div class="p-2">
                        <img src={{ url_for('static',filename='img/image-placeholder.png')}} alt="video game" class="img-fluid rounded shadow-sm item-img">
                        <div class="ml-3 d-inline-block align-middle">
                          <h5 class="mb-0"> <a href="#" class="text-dark d-inline-block align-middle">Video Game Title</a></h5><span class="text-muted font-weight-normal font-italic d-block">More Info About Game Above</span>
                        </div>
                      </div>
                    </th>
                    <td class="align-middle"><strong>$29.00</strong></td>
                    <td class="align-middle"><strong>1</strong></td>
                    <td class="align-middle"><a href="#" class="text-dark"><img class="remove-img" src={{ url_for('static', filename='img/trash-icon.png')}} alt="remove"></a>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      <div class="p-2">
                        <img src={{ url_for('static',filename='img/image-placeholder.png')}} alt="video game" class="img-fluid rounded shadow-sm item-img">
                        <div class="ml-3 d-inline-block align-middle">
                          <h5 class="mb-0"> <a href="#" class="text-dark d-inline-block align-middle">Video Game Title</a></h5><span class="text-muted font-weight-normal font-italic d-block">More Info About Game Above</span>
                        </div>
                      </div>
                      <td class="align-middle"><strong>$59.00</strong></td>
                      <td class="align-middle"><strong>1</strong></td>
                      <td class="align-middle"><a href="#" class="text-dark"><img class="remove-img" src={{ url_for('static', filename='img/trash-icon.png')}} alt="remove"></a>
                      </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- End -->
          </div>
        </div>

        <div class="row py-5 p-4 bg-light rounded shadow-sm">
          <div class="col-lg-12">
            <div class="bg-info rounded-pill px-4 py-3 text-uppercase font-weight-bold">Order summary </div>
            <div class="p-4">
              <p class="font-italic mb-4">Shipping and additional costs are calculated based on values you have entered.</p>
              <ul class="list-unstyled mb-4">
                <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Order Subtotal </strong><strong>$149.97</strong></li>
                <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Shipping and handling</strong><strong>$0.00</strong></li>
                <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Tax</strong><strong>$14.96</strong></li>
                <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Total</strong>
                  <h5 class="font-weight-bold">$164.93</h5>
                </li>
              </ul><a href="#" class="btn btn-dark rounded-pill py-2 btn-block">Procceed to checkout</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</html>